header {
    
    display: flow-root;
    /* vertical-align: baseline; */
    background-image: url('/static/images/OIP\ \(2\).jfif');
    background-repeat: no-repeat;
    background-size:auto; 
    width: auto;
    height: auto;
}

body {
        background-image: url('/static/images/R.jfif');
        background-size: cover; 
        background-repeat: no-repeat; 
        opacity: 1;
}

h1 {
    color:black; 
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px; 
}

h2 {
    font-size: 30px;
} 

h3 {

    color:black; 
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

p {
    
    color:black;
    font-family:'Times New Roman', Times, serif;
    font-size: 17px; 
}

ul {
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px; 
} 
