<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>

<body>
    
    {% extends 'layout.html' %}
    
    {%block body %}
    <h2>About</h2>
    <p> My name is <b>Engr. Junaid Jahangir Qazi.</b> By profession, i am an
        <b>Electronics Engineer. </b> I am currently employed at Indus
        University Karachi as a <b> "Lecturer" </b>, in the
        department of <b>Electrical & Electronic Engineering </b>.
    
        I am a versatile person having diverse capabilities to work
        in a challenging environment. </p><hr>
        {% endblock %}
</body>
</html>
