<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
</head>
<body>
    {% extends 'layout.html' %}

    {%block body %}

<h2> Contact </h2> 
<p><b> If you have any Query, then feel free to contact me by filling 
    this form: </b></p> 
    
    <form action="/info" method="POST">
        <input type="text" name="user" placeholder="Full Name"><br><br>
        <input type="email" name="email" placeholder="E-mail"><br><br>
        <input type="password" name="pass" placeholder="Password"><br>
        <br><br>
        <input type="Submit" value="Send">
    </form> <hr> 

        <p> <b>LinkedIn: </b></p> <a href="https://www.linkedin.com/in/engrjunaidqazi">
        <img alt="LinkedIn" src="/static/images/linkedin.png">
    
        <p> <b> Facebook: </b></p> <a href="https://web.facebook.com/profile.php?id=100011665863653">
        <img alt="Facebook" src="/static/images/fb.png">

        {% endblock %}
</body>
</html>