<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- <meta name="description" content="Free Data Science, AI &amp; ML  -->
  <!-- tutorials &amp; Useful Information"> -->
  <meta name="keywords" content="Artificial Intelligence, Data Science, 
  Python, Machine Learning, Deep Learning, engr-junaid-qazi, Junaid 
  Jahangir Qazi, Saylani, Karachi, Pakistan">
  <meta name="author" content="Junaid Qazi">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/static/style.css" media="all">
  <title> Welcome to Engr. Junaid Qazi's Home Page </title>
</head> 

<body>
    {% extends 'layout.html' %}
    {% block body %} 
        
    <div class="junaidqazi">
        <img src="/static/images/IMG_20220924_140152_797.jpg" alt="Person" 
        width="150" height="200" style="float:right">
    </div>

    <h2> Introduction </h2>

        <p> My name is <b>Engr. Junaid Jahangir Qazi.</b> By profession, i am an
            <b>Electronics Engineer. </b> I am currently employed at Indus
            University Karachi as a <b> "Lecturer" </b>, in the
            department of <b>Electrical & Electronics Engineering </b>.
        
            I am a versatile person having diverse capabilities to work
            in a challenging environment.
       </p>

        <p> I am an Electronics Engineer, graduated from Dawood University of
            Engineering & Technology in 2012. Since then, i have done many jobs
            in different fields. 

            As the world is changing rapidly, so every field is getting new
            diemensions. This also happened with the engineering field also.
            So, i have decided to take the advantage of this. Luckily i have
            got admission in <b>Saylani Welfare International Trust's</b> renowned and
            recognized <b>Artificial Intelligence and Data Science</b> course. Our
            teachers at Saylani are well renowned, highly qualified & expert in their field. 
            They have taught me everything from the microscopic level
            to the macroscopic level. Alongwith Saylani internal on-site classes,
            i have been awarded <b>DataCamp</b> subscription to do various Data Science
            online courses to make myself feeling & becoming a true Data Scientist.
            
            Moreover, i have keen interest in programming from the beginning of
            my career and i have adopted it as my hobby. But through this
            course, now i am in a better position to make this field as my future
            career because it has tremendous potential of progress. 
            I have learnt and studied the follwoing topics in depth:
            <p> 
                <img alt="libraries&packages" src="/static/images/R (2).png" 
                style="float:right" width="700" height="200"> 

                <ul> <li> Python Programming </li> <br>
                <li> Data Science & Data Analytics </li>  
                <ul> <li> Pandas </li> 
                     <li> NumPy </li> </ul><br>
                <li> Data Visualization </li> 
                <ul> <li> Matplotlib </li>
                     <li> Seaborn </li> 
                     <li> Plotly </li> </ul><br>
                <li> Web Scraping & Data Extraction </li>  
                <ul> <li> BeautifulSoup </li> 
                     <li> Scrapy </li> 
                     <li> Requests </li> </ul> <br> 
                <li> Image Processing </li> 
                <ul> <li> OpenCV </li> 
                     <li> Python Image Library (PIL / Pillow) </li> </ul> <br>
                <li> Web Development </li> 
                <ul> <li> HTML </li> 
                     <li> CSS </li> 
                     <li> Flask </li>
                     <li> Django </li> 
                     <li> App Deployment on Heroku Server </li> </ul> <br>
                <li> Machine Learning (in progress) </li> 
                <ul> <li> Classification </li> 
                     <li> Regression </li> </ul> <br>
                </ul></p><hr>         
                {%endblock %}         
</body>
</html>