<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type = "text/css" href="/static/style.css" media = "all">
    
</head>
    
<body>

    {% include 'header.html' %}

    <a href = "/"><b>Home</b></a>  
    <a href = "/about"><b> About</b></a> 
    <a href = "/contact"><b> Contact</b></a>
    
        {% block body %}
    
        {% endblock %}
</body>

    {% include 'footer.html' %}
</html>