<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="stylesheet" type="text/css" href="/static/style.css" media="all">
    <title> Table </title>
</head>

<body>
    <table> 
        <thead>  
            <tr> 
                <th> Data Science </th> 
                <th> Artificial Intelligence </th> 
                <th> Machine Learning </th> 
                <th> Deep Learning </th> 
            </tr>
        </thead>
        <tbody> 
            <tr>
                <td> 25 </td> 
                <td> 100 </td> 
                <td> 125 </td> 
                <td> 50 </td>
            </tr> 

            <tr> 
                <td> 50 </td> 
                <td> 30 </td> 
                <td> 56 </td> 
                <td> 57 </td>
            </tr>
        </tbody>
    </table>

</body>
</html>